<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AntivirusSuite">
    <test name="ScanTests">
        <classes>
            <class name="tests.PartialScanTest"/>
            <class name="tests.FullScanTest"/>
            <class name="tests.ApkScanTest"/>
        </classes>
    </test>
</suite>


