<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AntivirusSuite">
    <test name="ScanTests">
        <classes>
            <class name="modules.partialScan"/>
            <class name="modules.fullScan"/>
            <class name="modules.apkScan"/>
        </classes>
    </test>
</suite>


